
     {{#each rows}}
<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->
					<div class="col-md-5 col-md-push-2">
						<div id="product-main-img">
							<div class="product-preview">
								<img src="{{this.img}}" alt="">
							</div>

							
						</div>
					</div>
					<!-- /Product main img -->

					<!-- Product thumb imgs -->
					<div class="col-md-2  col-md-pull-5">
						
					</div>
					<!-- /Product thumb imgs -->

					<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
							<h2 class="product-name">{{this.title}}</h2>
							<div>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<a class="review-link" href="#"> ouer review</a>
							</div>
							<div>
								<h3 class="product-price"> جنيه {{this.price}} </h3>
								<span class="product-available">In Stock</span>
							</div>
							<p>{{this.desc}}.</p>

							

							
                <form action="/add_to_cart" method="post">

         <input type="hidden" name="id" value="{{this.id}}">
         <input type="hidden" name="title" value="{{this.title}}">
         <input type="hidden" name="price" value="{{this.price}}">
		 <div class="add-to-cart">
								<div class="qty-label">
									Qty
									<div class="input-number">
										<input type="number"  name="quantity" value="1">
										
									</div>
								</div>
         <input type="hidden" name="img" value="{{this.img}}">
         <button class="add-to-cart-btn" type="submit" value="Add to cart" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> add to cart</button>
        </form>
								
							</div>

							

							<ul class="product-links">
								<li>Shop:</li>
								<li><a href="#">{{this.shop_name}}</a></li>
							</ul>

							
						</div>
					</div>
					<!-- /Product details -->

					<!-- Product tab -->
					<div class="col-md-12">
						<div id="product-tab">
							<!-- product tab nav -->
							<ul class="tab-nav">
								<li class="active"><a data-toggle="tab" href="#tab1"><h3>طرق الدفع</h3></a></li>
							</ul>
							<!-- /product tab nav -->

							<!-- product tab content -->
							<div class="tab-content">
								<!-- tab1  -->
								<div id="tab1" class="tab-pane fade in active">
									<div class="row">
										<div class="col-md-12">
											<h4 class="text-center"> يتم الدفع عند الاستلام. يمكنك رفض استلام المنتج و إرجاعه و سيتم محاسبتك بتكاليف الشحن فقط . يتم التوصيل خلال 10 أيام من القيام بالطلب. يتم الشحن و التوصيل عن طريق شركات شحن معتمدة او من المحل نفسة.</h4>
										</div>
									</div>
								</div>
								<!-- /tab1  -->

								
							</div>
							<!-- /product tab content  -->
						</div>
					</div>
					<!-- /product tab -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
  
  
</div>
    {{/each}}
